@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Condensed&display=swap');
body {
    font-family: "Roboto Condesed", sans-serif;
    font-weight: 300 !important;
    margin: 0px;
}

body,
h1 {
    font-weight: 300;
    margin: 20px 30px;
    color: white;
}

#main-header {
    border-bottom: 2px solid #000;
}

#top-stories {
    width: 1000px;
    margin: auto;
    margin-top: 20px;
}

article {
    max-width: 27%;
    border: 1px solid #000;
    display: inline-block;
    padding: 10px;
    margin: 0px;
}

article img {
    max-width: 100%;
}

.article-image {
    height: 200px;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
}

#site-title {
    font-family: "Press Start 2P", sans-serif;
    background-color: rgb(240, 223, 191);
}

.more-link {
    font-style: italic;
}